body {
	font-family: mono;
	font-size: 9pt;
	background: #333;
	color: #ddd;
	
	margin: 0;
	padding: 3px;
}

a, a:hover, a:visited, a:active {
	color: white;
}

a:hover {
	text-decoration: none;
}

h1 {
	font-size: 9pt;
	text-align: left;
	margin :3px;
	color: #fff;
}

/*TOOLBAR & STATUS*/

.section, #toolbar, #statusbar {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.section, #timeline, canvas{
	background: #0005;
	padding: 3px;
	margin:3px;
	border-radius:6px;
	border-bottom: 4px solid #0005;
	
}

label:first-child{
	font-size: 9pt;
}
label{
	font-size: 7pt;
  padding: 0;
  margin-left: 9px;

}
label::after {
	content: ":"
}

button, select, input {
	box-sizing:content-box;
	display: block;
	margin: 3px;
	padding : 1px 9px;
	border: 0;
	border-radius:2px;
	height:16px;
  
	font-size: 9pt;
	background: #ddd;
  outline: 0;
  outline-style:none;
  outline-width:0;
}
input {
	border-top: 2px solid #0005;
  padding-bottom: 0;
}
input:focus{
	background: #fff;
}

button, select {
	margin-top:-1px;
	border-bottom: 4px solid #0005;

}
	
button:hover, select:hover {
	margin-top:1px;
	border-bottom-width:2px;
}

button.active:hover {
	border-bottom-width:0px;

}
button:active, select:active, button.active, button.active:active {
	background: #fff;
	margin-top:2px;
	border-bottom-width:0;
}

button::-moz-focus-inner, select::-moz-focus-inner {
	border: none;
}


option {
	padding: 0;
	margin:0;
}
/*CANVAS*/

canvas {
	display: block;
	margin: 6px auto;
     cursor: crosshair;
}

/*TIMELINE*/
#timeline {
	display: block;
	margin:3px;
	padding: 3px;
	text-align: center;
  color: #000;
}

td {
	background: none;
	height:10px;
	width: auto;
	border:1px solid #fff;
}

td:hover{
	background: #aaa; 
}

.frms-row td, .layer-row td:first-child {
	height:4px;
	width: 4px;
	border:1px solid #fff;
	border-radius: 4px;
	background: none;
}
.frms-row td.active,  .layer-row.active td:first-child{
	background: #fff;
}
.frms-row td:hover, .layer-row td:first-child:hover{
	background: #aaa; 
}

.frms-row td:first-child{
  visibility: hidden;
}

/*SLEEK*/
body.sleek {
	background: #000;
	overflow: hidden;
}
body.sleek * {
	display: none;
}
body.sleek canvas{
	border:none;

    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}