body {
    background: #000;
}

html, body, #lightbox, #lightbox-canvas {
    margin: 0;
    padding: 0;
}

#lightbox-canvas{
    cursor:none !important;
}

/*Hide scrollbar*/

html {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
html::-webkit-scrollbar {
    width: 0px; /* For Chrome, Safari, and Opera */
}